body {
    font-family: helvetica neue;
    background-color: #E7EAEC;
    margin:0;
    padding:0;
}

.page h1,
.page h2
{
    color: #BCBEC0;
    font-weight: normal;
    margin-top: 0px;
}

.page hr {
    height: 2px;
    background-color: #E6E7E8;
    border: none;
    border-bottom: solid 1px #FFFFFF;
}

.frame {
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background-color: #F1F2F2;
    /*border: 1px solid #BCBEC0;
    border-radius: 4px;*/
}

.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0px,0,0);
    height: 100%;
    padding: 20px;
    margin: 10px;/*my addition*/
}

.wrapper_span_360sprite2
{
height: 327px;
display: inline-block;
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:0px;/*was 20px*/
    right:0px;
    bottom:0px;/*was 20px*/
    left:0px;
    /*padding: 20px;/*my addition*/
}

#wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;
}

#wrapper_pg2{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;/*having a higher bottom position means that the scroll area allows the text to go a little above the 0 bottom position*/
    left:0px;
    right:0px;
    overflow:auto;
}

#wrapper_pg3{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;
}

#wrapper_pg4{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;
}

#wrapper_pg5{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;
}

#wrapper_pg6{
    position:absolute;
    z-index:1;
    top:0px;
    bottom:50px;
    left:0px;
    right:0px;
    overflow:auto;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
}